<h1>
    {{listName}}
    <small class="text-muted">by <a href="/user/{{author}}">{{author}}</a></small>
</h1>
<h2>
    <small>comparing against</small>
    {{otherListName}}
    <small class="text-muted">by <a href="/user/{{otherAuthor}}">{{otherAuthor}}</a></small> 
</h2>
<div class="text-right">
    {{> social-media shareUrl=shareUrl showCopyButton=true text="Share this comparison"}}
</div>
{{!-- TODO: Add color key for what the different background colors represent --}}
{{#if allShared}}
    <div class="alert alert-info" role="alert">
        These two lists are the same.
    </div>
{{/if}}
{{#if noneShared}}
    <div class="alert alert-info" role="alert">
        These lists have nothing in common.
    </div>
{{/if}}
{{#if entities}}
    {{> user/list-search }}
    <ul class="list-group mb-4 user-list-view">
        {{#each entities}}
            <li class="list-compare-{{compareStatus}} list-group-item d-flex justify-content-between align-items-center" data-name="{{name}} {{variation}}">
                <div>
                    <a href="/{{type}}/{{id}}" class="no-link-underline">
                        <img src="{{image}}" alt="Picture of {{name}}"
                             class="img-responsive" style="max-width: 50px;">
                    </a>
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a> {{variation}}
                </div>
            </li>
        {{/each}}
    </ul>
{{/if}}