<h1>
    {{listName}}
    <small class="text-muted">by <a href="/user/{{author}}">{{author}}</a></small>
</h1>
<h2>
    <small>comparing against</small>
    {{otherListName}}
    <small class="text-muted">by <a href="/user/{{otherAuthor}}">{{otherAuthor}}</a></small> 
</h2>
<div class="text-right">
    {{> social-media shareUrl=shareUrl showCopyButton=true }}
</div>
{{#if sharedList}}
    <h3>Shared</h3>
    <ul class="list-group mb-4">
        {{#each sharedList}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="/{{type}}/{{id}}" class="no-link-underline">
                        <img src="{{image}}" alt="Picture of {{name}}"
                             class="img-responsive" style="max-width: 50px;">
                    </a>
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a> {{variation}}
                </div>
            </li>
        {{/each}}
    </ul>
{{else}}
    <div class="alert alert-warning" role="alert">
        No items are shared.
    </div>
{{/if}}
{{#if otherListOnly}}
    <h3>{{otherListName}} ({{otherAuthor}})</h3>
    <ul class="list-group mb-4">
        {{#each otherListOnly}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="/{{type}}/{{id}}" class="no-link-underline">
                        <img src="{{image}}" alt="Picture of {{name}}"
                             class="img-responsive" style="max-width: 50px;">
                    </a>
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a> {{variation}}
                </div>
            </li>
        {{/each}}
    </ul>
{{else}}
    <div class="alert alert-warning" role="alert">
        No items are in {{otherListName}} by {{otherAuthor}} only.
    </div>
{{/if}}
{{#if listOnly}}
    <h3>{{listName}} ({{author}})</h3>
    <ul class="list-group mb-4">
        {{#each listOnly}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="/{{type}}/{{id}}" class="no-link-underline">
                        <img src="{{image}}" alt="Picture of {{name}}"
                             class="img-responsive" style="max-width: 50px;">
                    </a>
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a> {{variation}}
                </div>
            </li>
        {{/each}}
    </ul>
    <br /> 
{{else}}
    <div class="alert alert-warning" role="alert">
        No items are in {{listName}} by {{author}} only.
    </div>
{{/if}}