<h1>
    {{listName1}}
    <small class="text-muted">by <a href="/user/{{author1}}">{{author1}}</a></small>
</h1>
<h2>
    <small>comparing against</small>
    {{listName2}}
    <small class="text-muted">by <a href="/user/{{author2}}">{{author2}}</a></small> 
</h2>
<div class="text-right">
    {{> social-media shareUrl=shareUrl showCopyButton=true }}
</div>
{{#if isOwnUser}}
    <div class="alert alert-primary mb-4">
        Tip: You can add a specific color or type of item to your wishlist by going to the item's detail page. On the
        item page, select the variation you want from the dropdown and then add it to your wishlist by clicking the
        <span class="font-weight-bold"><span class="fa fa-plus"></span> List</span> button.
    </div>
{{/if}}
{{#if isEmpty}}
    <p>
        This list has no items yet.
        {{#if isOwnUser}}
            You can add some by browsing the site and clicking the <span class="fa fa-plus"></span> button next to
            villagers and items.
        {{/if}}
    </p>
{{else}}
    <h3>Shared</h3>
    <ul class="list-group">
        {{#each entities_shared}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="/{{type}}/{{id}}" class="no-link-underline">
                        <img src="{{image}}" alt="Picture of {{name}}"
                             class="img-responsive" style="max-width: 50px;">
                    </a>
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a> {{variation}}
                </div>
                {{#if ../isOwnUser}}
                    <div>
                        <a href="{{deleteUrl}}"
                           class="btn btn-danger" role="button">
                            <span class="fa fa-trash"></span>
                            <span class="sr-only">Delete</span>
                        </a>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
    <br />
    <h3>{{listName2}} ({{author2}})</h3>
    <ul class="list-group">
        {{#each entities_user2}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="/{{type}}/{{id}}" class="no-link-underline">
                        <img src="{{image}}" alt="Picture of {{name}}"
                             class="img-responsive" style="max-width: 50px;">
                    </a>
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a> {{variation}}
                </div>
                {{#if ../isOwnUser}}
                    <div>
                        <a href="{{deleteUrl}}"
                           class="btn btn-danger" role="button">
                            <span class="fa fa-trash"></span>
                            <span class="sr-only">Delete</span>
                        </a>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
    <br />
    <h3>{{listName1}} ({{author1}})</h3>
    <ul class="list-group">
        {{#each entities_user1}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="/{{type}}/{{id}}" class="no-link-underline">
                        <img src="{{image}}" alt="Picture of {{name}}"
                             class="img-responsive" style="max-width: 50px;">
                    </a>
                    <a href="/{{type}}/{{id}}" class="ml-2">{{name}}</a> {{variation}}
                </div>
                {{#if ../isOwnUser}}
                    <div>
                        <a href="{{deleteUrl}}"
                           class="btn btn-danger" role="button">
                            <span class="fa fa-trash"></span>
                            <span class="sr-only">Delete</span>
                        </a>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
    <br /> 
{{/if}}